* {
    background-color: white;
    font-family: "San Francisco", Arial, Helvetica, sans-serif;
}

body {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#home {
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    font-weight: bolder;
    font-style: italic;
    color: #fb8500;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    color: #ffb703;
}

.recipes a {
    font-size: 22px;
    font-weight: normal;
}

.recipes ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes li {
    text-align: center;
    border: 6px solid #fb8500;
    border-radius: 10px;
    padding: 26px;
    margin: 12px;
    width: 40%;
}
